$bgcolor: #282c34;

header, footer {
  background-color: $bgcolor;
  color: white;
}

header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  display: grid;
  grid-template-rows: 20vh auto 40vh;
}

header > a {
  justify-self: end;
  background: url("github.png");
  width: 32px;
  height: 32px;
  margin: 20px;
}

header > span {
  justify-self: center;
}

header > div {
  justify-self: stretch;
}

footer {
  font-size: calc(8px + 1vmin);
  min-height: 20vh;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  height: 60vh;
  border: 1px solid black;
  width: 100%;

}

.raceD {
  //max-width: 1000px;
  margin: auto;
  padding: 50px;

}

.charts {
}

.barD, .lineD {
  display: inline-block;
  width: 30%;
  margin: 25px;

}

