$bgcolor: #282c34;
$bgcolor-light: #323a46;
$color-primary-0: #FF0000; // Main Primary color */
$color-primary-1: #FF6464;
$color-primary-2: #FF3939;
$color-primary-3: #C60000;
$color-primary-4: #9B0000;

$color-secondary-1-0: #FFD300; // Main Secondary color (1) */
$color-secondary-1-1: #FFE464;
$color-secondary-1-2: #FFDD39;
$color-secondary-1-3: #C6A400;
$color-secondary-1-4: #9B8100;

$color-secondary-2-0: #3914AF; // Main Secondary color (2) */
$color-secondary-2-1: #735AC4;
$color-secondary-2-2: #5639B5;
$color-secondary-2-3: #2B0F88;
$color-secondary-2-4: #20096B;

$color-complement-0: #00CC00; // Main Complement color */
$color-complement-1: #55D955;
$color-complement-2: #2FCF2F;
$color-complement-3: #009E00;
$color-complement-4: #007C00;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

header, footer {
  background-color: $bgcolor;
  color: white;
}

footer {
  font-size: calc(8px + 1vmin);
  min-height: 20vh;
}

header {
  height: 100vh;
  width: 100vw;
  font-size: calc(10px + 3vmin);
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
}

header > a {
  justify-self: end;
  background: url("github.png");
}

.icon {
  width: 32px;
  height: 32px;
  margin: 20px;
}

header .heading {
  justify-self: center;
  text-align: center;
}

.bat {
  height: 20vh;
  width: auto;
  display: block;
  margin: auto auto 40px auto;
  transition: 3s ease-out;
}

.bat:hover {
  transform: scale(1.4) translate(0, -20px);
  filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.6));

}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  font-size: calc(8px + 1vmin);
  font-weight: bold;
  column-gap: 10px;
}

.out {
  background: $bgcolor-light;
  transition: 1s;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1.5px;

}

.out > svg {
  display: block;
  height: 8vh;
  width: 8vw;
  place-self: center;
}


.charts svg {
  height: 60vh;
  border: 1px solid black;
  width: 100%;

}

.raceD {
  //max-width: 1000px;
  margin: auto;
  padding: 50px;

}

.charts {
}

.barD, .lineD {
  display: inline-block;
  width: 30%;
  margin: 25px;

}


.box.c {
  background: $color-secondary-2-2;
}

.box.d {
  background: $color-primary-2
}

.box.r {
  background: $color-complement-0;
}

.f {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.c.out:hover {
  box-shadow: inset 0 0 0 1px $color-secondary-2-2;
}

.r.out:hover {
  box-shadow: inset 0 0 0 1px $color-complement-4;
}

.d.out:hover {
  box-shadow: inset 0 0 0 1px $color-primary-4;
}

.box {
  animation-name: boxes;
  animation: boxes 6s ease-in-out;
}


@keyframes boxes {
  from {
    transform: scaleX(0);
  }
}

@media only all and (max-width: 768px) {

  header {
    grid-template-rows: 0.5fr 2fr 3fr;
  }


  .info {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }

  .out {
    background: $bgcolor-light;
    transition: 1s;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1.5px;

  }
  .out > svg {
    display: block;
    height: 8vh;
    width: 8vw;
    place-self: center;
  }

}

