$bgcolor: #282c34;
$bgcolor-light: #323a46;
$bgcolor-light-light: #45505f;
$light: #d3d3d3;
$color-primary-0: #FF0000; // Main Primary color */
$color-primary-1: #ff6464;
$color-primary-2: #FF3939;
$color-primary-3: #C60000;
$color-primary-4: #9B0000;

$color-secondary-1-0: #FFD300; // Main Secondary color (1) */
$color-secondary-1-1: #FFE464;
$color-secondary-1-2: #FFDD39;
$color-secondary-1-3: #C6A400;
$color-secondary-1-4: #9B8100;

$color-secondary-2-0: #552fd4; // Main Secondary color (2) */
$color-secondary-2-1: #735ac4;
$color-secondary-2-2: #5639B5;
$color-secondary-2-3: #2B0F88;
$color-secondary-2-4: #20096B;

$color-complement-0: #00CC00; // Main Complement color */
$color-complement-1: #2FCF2F;
$color-complement-2: #2FCF2F;
$color-complement-3: #009E00;
$color-complement-4: #007C00;
