@import "index";

header {
  background-color: $bgcolor;
  color: $light;
}

header {
  height: 100vh;
  width: 100vw;
  font-size: calc(10px + 3vmin);
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
}

.loading {
  font-size: calc(10px + 3vmin);
  text-align: center;
  line-height: 100vh;
  background-color: $bgcolor;
  color: $light;
}

header > a {
  justify-self: end;
  background: url("../Images/github.png") center;
  background-size: contain;
}

.icon {
  width: 32px;
  height: 32px;
  margin: 20px;
}

header .heading {
  justify-self: center;
  text-align: center;
}

.bat {
  height: 20vh;
  width: auto;
  display: block;
  margin: auto auto 40px auto;
  transition: 3s ease-out;
}

.bat:hover {
  transform: scale(1.4) translate(0, -20px);
  filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.6));

}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  font-size: calc(8px + 1vmin);
  font-weight: bold;
  column-gap: 10px;
}

.out {
  background: $bgcolor-light;
  transition: 1s;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1.5px;

}

.out > svg {
  display: block;
  height: 8vh;
  width: auto;
  place-self: center;
}


.box.c {
  background: $color-secondary-2-2;
}

.box.d {
  background: $color-primary-2
}

.box.r {
  background: $color-complement-0;
}

.f {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.c.out:hover {
  box-shadow: inset 0 0 0 1px $color-secondary-2-2;
}

.r.out:hover {
  box-shadow: inset 0 0 0 1px $color-complement-4;
}

.d.out:hover {
  box-shadow: inset 0 0 0 1px $color-primary-4;
}

.box {
  animation: boxes 6s ease-in-out;
}


@keyframes boxes {
  from {
    transform: scaleX(0);
  }
}


blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 0.4em;
  max-width: 768px;
  line-height: 2em;
  animation: bq 15s infinite ease-in-out;
  cursor: default;
}

@keyframes bq {
  0% {
    color: $light
  }
  50% {
    color: #FF9999
  }

  100% {
    color: $light
  }
}

blockquote:before {
  color: $color-primary-1;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: $color-primary-1;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.2em;
  vertical-align: -0.4em;
}

figcaption {
  display: block;
  font-size: 0.4em;
  margin: 20px;
  color: $color-primary-1;

}

@media only all and (max-width: 768px) {

  header {
    grid-template-rows: 0.5fr 2fr 3fr;
  }
  .info {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }

  .out {
    background: $bgcolor-light;
    transition: 1s;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1.5px;
  }

}