@import "colors";

* {
  //box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: $light;
  border: 0;
}
header, footer{
  max-width: 100%;
}
body {
  font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;

}